body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: max-content !important;
  padding: 0;
  margin: 0px;
  border: none !important;
}

header {
  background-color: #271c76;
  color: white;
  padding: 10px;
  text-align: center;
}

.alert-primary {
  border-radius: 10px;
  display: flex;
}


header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  background-color: #3a2ab3 !important;
  border: #271c76;
  outline: none !important;
}

.container, .container-md, .container-sm {
  max-width: 800px !important;
  width: 700px !important;
}

.content img {
  width: 70px;
}

.content h1 {
  margin: 0px !important;
  font-size: 18px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.text-100 {
  color: white !important;
  font-weight: 600;
}

.content h1 span {
  font-size: 12px;
}

main {
  padding: 20px;
}

h2 {
  font-size: 12px;
  color: #9f9f9f;
}



#modal {
  position: abolute
}

#placeholder {
  background: #ddddddad;
  position: fixed;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 999;
  align-items: center;
  display: flex;
  justify-content: center;
}

#placeholder svg {
  width: 100px;
}

.avolo {
  animation: kaboom 0.5s ease alternate infinite;

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }

  &:nth-child(5) {
    animation-delay: 0.4s;
  }
}

@keyframes kaboom {
  0% {
    height: 153.685px;
  }

  100% {
    height: 50px;
  }
}

#refresh img {}

#Rephrase, #generateTests {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A67E !important;
}

#Rephrase img, #generateTests img, #refresh img {
  width: 25px;

}

.btn-grouped {
  display: flex;
  justify-content: space-between;
}

.ai-btn-grouped button {
  margin-left: 7px;
}




/* error page */
#error404 header {
  width: 100%;
  position: fixed;
  z-index: 900002200 !important;
  background-color: unset !important;
}

#error404 {
  background: #271c76;
  padding: 0 !important;
  margin: 0 !important;
}

#error404 main {
  background: #271c76;
  position: fixed;
  z-index: 9299;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.content404 {
  position: fixed;
  z-index: 92929;
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #261c763e;
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 #261c763e;
  backdrop-filter: blur(12px);
}

.content404 h1 {
  font-size: 120px;
  color: #31277C;
  font-weight: 900;
}
.content404 h2 {
  color: #ffffff;
  font-size: 20px;
}
.content404 p {
  color: #ffffff;
  text-align: center;
  font-weight:100

}